<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.admin.mapper.CmsMenuAuthorityMapper">
    <resultMap id="BaseResultMap" type="com.cms.admin.entity.MenuAuthorityEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="menu_path" jdbcType="VARCHAR" property="menuPath"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="menu_description" jdbcType="VARCHAR" property="menuDescription"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="hidden" jdbcType="BOOLEAN" property="hidden"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="meta" jdbcType="VARCHAR" property="meta"/>
        <!-- 查询子模块 -->
        <collection property="children" column="id" select="selectMenuByPid"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        ,pid, menu_path, menu_description, component, hidden, menu_name, meta
    </sql>
    <select id="selectMenuById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_cms_menu_authority
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectMenus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_cms_menu_authority
        where pid = 0
    </select>
    <delete id="deleteMenuByIds">
        delete
        from t_cms_menu_authority
        where id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </delete>


    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cms.admin.entity.MenuAuthorityEntity"
            useGeneratedKeys="true">
        insert into t_cms_menu_authority (menu_path, menu_description, component,
                                          hidden, menu_name, meta, pid)
        values (#{menuPath,jdbcType=VARCHAR}, #{menuDescription,jdbcType=VARCHAR}, #{component,jdbcType=VARCHAR},
                #{hidden,jdbcType=BOOLEAN}, #{menuName,jdbcType=VARCHAR}, #{meta,jdbcType=VARCHAR},
                #{pid,jdbcType=INTEGER})
    </insert>
    <insert id="insertMenus">
        insert into t_cms_menu_authority (menu_path, menu_description, component,
        hidden, menu_name, meta, pid)
        values
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.menuPath,jdbcType=VARCHAR}, #{item.menuDescription,jdbcType=VARCHAR},
            #{item.component,jdbcType=VARCHAR},
            #{item.hidden,jdbcType=BOOLEAN}, #{item.menuName,jdbcType=VARCHAR}, #{item.meta,jdbcType=VARCHAR},
            #{item.pid,jdbcType=INTEGER}
        </foreach>

    </insert>
    <update id="updateMenus" parameterType="com.cms.admin.entity.MenuAuthorityEntity">
        <foreach collection="list" item="item" open="" close="" separator=",">
            update t_cms_menu_authority
            set
            <if test="item.menuPath != null">
                menu_path = #{item.menuPath,jdbcType=VARCHAR},
            </if>
            <if test="item.menuDescription != null">
                menu_description = #{item.menuDescription,jdbcType=VARCHAR},
            </if>
            <if test="item.component != null">
                component = #{item.component,jdbcType=VARCHAR},
            </if>
            <if test="item.hidden != null">
                hidden = #{item.hidden,jdbcType=BOOLEAN},
            </if>
            <if test="item.menuName != null">
                menu_name = #{item.menuName,jdbcType=VARCHAR},
            </if>
            <if test="item.meta != null">
                meta = #{item.meta,jdbcType=VARCHAR},
            </if>
            <if test="item.pid != null">
                meta = #{item.pid,jdbcType=INTEGER}
            </if>
            where id = #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
</mapper>